<a href="https://colab.research.google.com/github/luigiditan/AIDA/blob/main/Revisiting_Python/58025_Henerawr_Revisiting_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
*Submitted by: Group Henerawr* <br>
*Feb. 08, 2020*


In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

What is variable? 

    Variables are used to store information to be referenced and manipulated in a computer program[1].

In [ ]:
x = 99

print("the value is", x)

the value is 99

In [ ]:
name = 'James'

print ("My bestfriend is", name)

My bestfriend is James

What is Data types? 

        Data types represents a type of the data which you can process using your computer program.
     It can be numeric, alphanumeric, decimal, etc. [2].

In [ ]:
st = "Mole"
type(st)

str

In [ ]:
flt = 5.08
type(flt)

float

In [ ]:
intgr = 34
type(intgr)

int

In [ ]:
rt = "8.65"
rt_float = float(rt)
type(rt_float)

float

## Operations

What is operator?
  
        It is a symbol that tells the compiler or interpreter to perform specific mathematical, relational 
    or logical operation and produce final result [3].

#### Arithmetic

          The basic arithmetic operations are addition, subtraction, multiplication, and division . 
    Arithmetic is performed according to an order of operations [4].Modulo, exponentiation and 
    Floor Division is also part of arithmetic operation.

In [ ]:
### Addition
num = int(input("Enter 1st number: "))
num1 = int(input("Enter 2nd number: "))
totalnum = num + num1
print("The sum is", totalnum)

Enter 1st number: 20
Enter 2nd number: 19
The sum is 39

In [ ]:
### Substraction
money = 100
chickskin = 25
change = money - chickskin
print ("My money is", money,", I bought chicken skin for ", chickskin,"pesos.","my change is",change,"pesos.")

My money is 100 , I bought chicken skin for  25 pesos. my change is 75 pesos.

In [ ]:
### Multiplication
quantity = int(input("Enter quantity: "))
itemprice = 50
totalprice = itemprice * quantity
print("the total is", totalprice)

Enter quantity: 7
the total is 350

In [ ]:
### Division
num1 = float (input("Enter First Number: "))
num2 = float (input("Enter Second Number: "))
totalnum = num1/num2
print("The first number divided by the second number is",totalnum)

Enter First Number: 12
Enter Second Number: 12
The first number divided by the second number is 1.0

In [ ]:
### Floor Division
num1 = float (input("Enter First Number: "))
num2 = float (input("Enter Second Number: "))
totalnum = num1//num2
print("The first number divided by the second number is",totalnum)

Enter First Number: 9
Enter Second Number: 6
The first number divided by the second number is 1.0

In [ ]:
### Exponentation 
num1 = int(input("Enter a number: "))
num2 = int(input("Exponent number: "))
totalnum = num1**num2
print("{0} raised by {1} is {2} ".format(num1,num2,totalnum))

Enter a number: 2
Exponent number: 2
2 raised by 2 is 4

In [ ]:
### Modulo
num1 = int (input("Enter First Number: "))
num2 = int (input("Enter Second Number: "))
totalnum = num1%num2
print(totalnum)

Enter First Number: 19
Enter Second Number: 7
5

#### Assignment Operations


        Assignment operators are used to assign values to variables[5].

In [ ]:
a, b, c, d, e, f, g, h, i, j = 5, 8, 10, 12, 21, 3, 50, 2, 9, 6
## Additon
a += b
print(a)
## Subtraction
c -= d
print(c)
## Multiplication
e *= f
print(e)
## Division
g /= h 
print(g)
## Exponent
i **= j
print(i)

13
-2
63
25.0
531441

#### Comparators

In [ ]:
### Equality

x = 100
y = 100

x == y

True

In [ ]:
### Non-Equality
a = 20
b = 100

a != b

True

In [ ]:
### Inequality 
l = 69
d = 80

l == d

False

#### Logical

 
 
          Is a symbol or word used to connect two or more expressions such that the value of the compound expression produced
    depends only on that of the original expressions and on the meaning of the operator [6].

In [ ]:
### AND
a = 1
b = 0
c = a and b
print(c)

0

In [ ]:
### OR
a = 1
b = 0
c = a or b
print(c)

1

In [ ]:
### NOT 
a = 1
b = 0
c = not (a and b)
print(c)

True

#### I/O

In [ ]:
name = input("Enter your name:")
print("Your name is",name)

Enter your name:james
Your name is james

In [ ]:
kg = int(input("Enter your bodyweight in kilograms:"))
pounds = kg * 2.2
print("You are",pounds,"pounds")

Enter your bodyweight in kilograms:88
You are 193.60000000000002 pounds

In [ ]:
## put comma after entering a number
x = list(map(int,input("Enter five numbers").strip().split(",")))
x

Enter five numbers1,2,3,4,5

[1, 2, 3, 4, 5]

#### Iterables

In [ ]:
#### List
l1 = list(map(int,input("Input numbers with comma in between:").strip().split(",")))
print("The number with the zero index is",l1[0])

Input numbers with comma in between:1,2
The number with the zero index is 1

In [ ]:
#### Tuple
tuple1 = ("Timo Boll",23,0,"Lebron James")
print(tuple1[-1])

Lebron James

In [ ]:
#### Dictionaries 
dict1 = {"Most Valuable Player":"Lebron James",
         "Most Defensive Player of the Year":"Giannis Antetoukumpo",
         "Most Improved Player of the Year":"Brandon Ingram",
         "Rookie of the Year":"Luka Doncic"}

print(dict1)

{'Most Valuable Player': 'Lebron James', 'Most Defensive Player of the Year': 'Giannis Antetoukumpo', 'Most Improved Player of the Year': 'Brandon Ingram', 'Rookie of the Year': 'Luka Doncic'}

In [ ]:
dict1.update({"Most Defensive Player of the Year":"Lebron James",
             "Most Improved Player of the Year":"Lebron James",
             "Rookie of the Year":"Lamelo Ball"})
print(dict1)

{'Most Valuable Player': 'Lebron James', 'Most Defensive Player of the Year': 'Lebron James', 'Most Improved Player of the Year': 'Lebron James', 'Rookie of the Year': 'Lamelo Ball'}

## Looping Statements

    
    A loop statement allows us to execute a statement or group of statements multiple times [7].

### While


        Repeats a statement or group of statements while a given 
    condition is true. It tests the condition before executing the 
    loop body [7].

In [ ]:

numz = int(input("input any number:"))
 
while(numz > 0):
        print(numz)

        if numz % 10 ==0:
            break
        numz = numz + 2
        if numz % 2 ==1:
            print("It's an odd number!")
            break

input any number:2
2
4
6
8
10

### For


      Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable [7].

In [ ]:
num = int(input("Enter any number:"))

for i in range(1,6):
    mult_table = (num*i)
    print(mult_table)

Enter any number:5
5
10
15
20
25

In [ ]:
list_1 = ["Kiss","under","moonlight"]
list_2 = ["me","the","baby"]

for x,y in zip(list_1,list_2):
    print(x,y,end=" ")

Kiss me under the moonlight baby

In [ ]:
song_lyrics = input("Enter a song lyrics:").split()

for word in song_lyrics:
     if word.startswith("d"):
        print(word)

Enter a song lyrics:datebayo
datebayo

### Nested

In [ ]:
list1 = ["Manalo", "Lowell","Airon"]
while list1:
    print(list1.pop())
    list2 = ["Great Badboy","The Great"]
    while list2:
        print(list2.pop())
        list3 = ["\U0001F60E\n"]
        while list3:
            print(list3.pop())

Airon
The Great
ðŸ˜Ž

Great Badboy
ðŸ˜Ž

Lowell
The Great
ðŸ˜Ž

Great Badboy
ðŸ˜Ž

Manalo
The Great
ðŸ˜Ž

Great Badboy
ðŸ˜Ž

## Flow Control



         Is the order in which individual statements, instructions or function calls of an imperative program are executed 
    or evaluated [8].

### Condition Statements


        Conditional statements help you to make a decision based on certain conditions. These conditions are specified by a set of 
    conditional statements having boolean expressions which are evaluated to a boolean value true or false [9]. 
       Types of Conditional statement 
    * If statement
    * If-else statement
    * Nested if-else statement 
    * If- else if statement
    * Switch statement

In [ ]:
### If statement 

num = int (input("Enter your final grade: "))
if num >= 90:
  print ("You are qualified for the scholarship!")

Enter your final grade: 98
You are qualified for the scholarship!

In [ ]:
### If-else statement 
num = int(input("Enter your final grade: "))
if num >=90:
  print("You are qualified for the scholarship!")
else:
 print("You are not qualified for the scholarship")

Enter your final grade: 70
You are not qualified for the scholarship

In [ ]:
### If-else if

fud = input("Enter any fruit or vegetable:")

if fud in ["banana","lanzones","apple"]:
    print("It is a fruit!")
elif fud in ["carrot","broccoli"]:
    print("It is a veggy!")
else:
    print("I don't know what that is")

Enter any fruit or vegetable:banana
It is a fruit!

## Functions


      A function is a block of organized, reusable code that is used to perform a single, related action [10].

In [ ]:
def get_name(name):
  print("Hello klasmeyt ", name)

get_name("Juswa")

Hello klasmeyt  Juswa

### Lambda Functions

In [ ]:
a = 2
b = 10
c = 5
Answer = lambda a: (b + c) * b / c

Answer(a)

30.0

#Activity

Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00

happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"

In [ ]:
def grade_calculator():
      name = input("Please enter your name: ")
      course = input("Please enter your course: ")
      prelim = float(input("Please input your prelim grade: "))
      midterm = float(input("Please input your midterm grade: "))
      finals = float(input("Please input your final grade: "))

      final_grade = (prelim * .30) + (midterm * .30) + (finals *.40)
      happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"
      if (final_grade > 70):
        print("Hello {}, your semestral grade is: {:.2f}{}".format(name, final_grade, happy))

      elif(final_grade == 70):
        print("Hello {}, your semestral grade is: {:.2f}{}".format(name, final_grade, lol))

      elif(final_grade < 70):
        print("Hello {}, your semestral grade is: {:.2f}{}".format(name, final_grade, sad))

grade_calculator()

Please enter your name: James
Please enter your course: AI
Please input your prelim grade: 70
Please input your midterm grade: 70
Please input your final grade: 70
Hello James, your semestral grade is: 70.00ðŸ¤£

The grade_calculator function takes an input from the user, the data that are needed to be inputted by the user are his/her name, course, and, grade per sem. The function calculates for the semestral grade and outputs a corresponding emoji depending on the grade of the student.

##References

[1] LaunchSchool (2021). *Variables*. [Online](https://launchschool.com/books/ruby/read/variables).

[2] Tutorialspoint (2021). *Computer Programming-Data Types*. [Online](https://www.tutorialspoint.com/computer_programming/computer_programming_data_types.htm).

[3] Hackerearth (2021). *Basic Operators*. [Online](https://www.hackerearth.com/practice/basic-programming/operators/basics-of-operators/tutorial/).

[4] Wikipedia (2021). *Arithmetic*. [Online](https://en.wikipedia.org/wiki/Arithmetic#Arithmetic_operations).

[5] W3Schools (2021). *Assignment Operators*. [Online](https://www.w3schools.com/cpp/cpp_operators_assignment.asp).

[6] Programming Fundamentals (2021). *Logical Operators*.[Online](https://press.rebus.community/programmingfundamentals/chapter/logical-operators/).

[7] Tutorialspoint (2021). *C-Loops*.[Online](https://www.tutorialspoint.com/cprogramming/c_loops.htm).

[8] Control Flow (2021). *Control Flow*.[Online](https://en.wikipedia.org/wiki/Control_flow). 

[9] DotNetTricks (2019). *Conditional Statements: if, else, switch*.[Online](https://www.dotnettricks.com/learn/c/conditional-statements-if-else-switch-ladder). 

[10] Computer Programming (2021). *Functions*. [Online](https://www.tutorialspoint.com/computer_programming/computer_programming_functions.htm).